.page-title,
.section-title,
.subsection-title {
    color:darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.page-title {
    font-size: 36px;
    text-align: center;
}
.section-title {
    font-size: 24px;
}
.subsection-title {
    font-size: 18px;
}

img {
    height: auto;
    width: 500px;
}

ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
}

